AWS_ENDPOINT_URL="http://localstack:4566"
TABLE_NAME="Jobs"
QUEUE_NAME="job-queue"
DB_TYPE="dynamodb"
AWS_DEFAULT_REGION="ap-northeast-1"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
LOG_LEVEL="DEBUG"
